.signup-body {
  min-height: 93vh;
  display: grid;
  place-items: center;
  padding: 1.5rem 0.5rem;
}

.signup-page {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 2em;
  padding: 1rem 1.7rem;
  border-radius: 8px;
  /* position: relative; */
  /* height: 28rem; */
  width: 100%;
  background: transparent;
  box-shadow: 3px 3px 6px rgb(28, 28, 28), -1px -1px 3px rgb(34, 34, 34);
  color: #fff;
}

.CreateAccount{
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.2rem;
}

.input-boxes {
  position: relative;
  width: 100%;
}

.input-boxes input {
  /* height: 25px; */
  width: 100%;
  border: none;
  outline: none;
  padding: 7px;
  border-bottom: 1px solid #fff;
  background: transparent;
  color: #fff;
}

.input-boxes label {
  font-size: 14px;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 1rem;
  padding: 2px;
}

.input-boxes input:valid ~ label,
.input-boxes input:focus ~ label {
  transform: translate(0, -35px);
  font-size: 13px;
  transition: all 0.3s ease;
}

.signup-btn {
  width: 100%;
}

.signup-btn button {
  background-color: #ffd60a;
  padding: 0.5rem;
  width: 100%;
  border-radius: 3px;
  border: none;
  font-weight: 540;
  cursor: pointer;
  font-size: 20px;
  line-height: 24px;
  color: black;
}

.span-signup {
  font-size: 12px;
  margin: auto;
}

.span-signup a {
  font-size: 13px;
  text-decoration: none;
  font-weight: 600;
  color: rgb(70, 67, 255);
  margin-left: 2px;
}

#password {
  position: relative;
}

.eyebtn {
  position: absolute;
  right: 0;
  bottom: 5px;
  cursor: pointer;
}

.accountType {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  padding: 2px 4px;
  /* background: #161d29; */
  transition: all 0.3s;
  /* margin-left: -40%; */
  align-items: center;
}

.lowLightBtn {
  border: none;
  background: transparent;
  color: #ffffff6e;
}

.highlightBtn {
  background: #000814;
  border: none;
  color: #fff;
}

.btns {
  transition: all 0.3s;
  padding: 0 0.5rem;
  cursor: pointer;
  font-size: 1.1rem;
  border-radius: 30px;
}

.supplierBox{
 display: flex;
 align-self: self-start;
}

@media only screen and (max-width:640px){
  .CreateAccount{
    font-size:1.6rem;
  }
  
}